
<div class="resume-name lato">
  <h1>Miles McDaniel</h1>
  <span>Full Stack Developer</span>
</div>
<div class="resume-holder lato">
  <div class="resume-column">
    <div class="resume-top">
      <h4><a href="https://milesmcdaniel.com">https://milesmcdaniel.com</a></h4>
      <h4><a href="https://github.com/iammiles">https://github.com/iammiles</a></h4>
      <h4><a href="mailto:iammiles@protonmail.com">iammiles@protonmail.com</a></h4>
      <h4><a href="tel:15419685108">+1 541 968 5108</a></h4>
    </div>
  </div>
  <div class="resume-column">
    <div class="resume-top">
      My objective is to work with an amazing team building phenomenal products people enjoy to use.
    </div>
  </div>
</div>
 <div class="resume-bottom lato">
      <h3>EXPERIENCE</h3>
      <h4>Developer</h4>
      <h5>Galavantier, Las Vegas, NV October 2015 - Present</h5><br/>
      <h4>Full Stack Developer</h4>
      <h5>Limespring, Remote  September 2014 - October 2015 </h5><br/>
      <h4>Seasonal Park Ranger</h4>
      <h5>Oregon Dept. of Parks & Recreation, Florence, OR June 2014 - September 2014</h5><br/>
      <h4>Crux Rock Gym</h4>
      <h5>Front Desk / Routesetter, Eugene, OR June 2011 - June 2014</h5><br/>

      <h3>SKILLS</h3>
      <h4>Javascript / Node</h4>
      <h4>React + Redux</h4>
      <h4>React Native / Cross Platform Mobile Development</h4>
      <h4>MySQL</h4>
      <h4>MongoDB</h4>
      <h4>PHP</h4>
      <h4>Building RESTful Services</h4><br/>

      <h3>INTERESTS</h3>
      <h4>Alpinism</h4>
      <h4>Climbing</h4>
      <h4>Surfing</h4>
      <h4>Long-Distance Backpacking</h4>
      <h4>Amateur Astronomy</h4>

    </div>
